* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image_bg {
  width: 100%;
  height: 110vh;
  background-image: url(https://i.postimg.cc/nzFXDrnM/photo-1459666644539-a9755287d6b0.jpg);
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image_bg-1 {
  width: 100%;
  height: 120vh;
  background-image: url(https://i.postimg.cc/pd4wDHLM/peak.jpg);
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-img {
  height: 20%;
  width: 20%;
  padding-left: 10px;
}



.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity .6s ease;
  border-radius: 100%;
}

.image_bg-2 {
  width: 100%;
  height: 130vh;
  background-image: url(https://i.postimg.cc/4NxWN0X6/photo-1417021423914-070979c8eb34.jpg);
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.zero-one {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 140px;
  color: #414F6B;
}

@media (max-width:1200px) {
  .image_bg {

    height: 80vh;
  }

  .image_bg-1 {
    height: 90vh;
  }

  .image_bg-2 {
    height: 100vh;
  }
}

@media (max-width:992px) {
  .image_bg {

    height: 70vh;
  }

  .image_bg-1 {
    height: 80vh;
  }

  .image_bg-2 {
    height: 90vh;
  }

  .carousel-bg {
    margin-bottom: 3px !important;
  }

}

@media (max-width:768px),
(max-height:512) {
  .zero-one-text {
    font-size: 14px !important;
  }

  .carousel-bg {
    margin-bottom: 10px !important;
  }

  .image_bg {

    height: 70vh;
  }

  .image_bg-1 {
    height: 85vh;
  }

  .image_bg-2 {
    height: 90vh;
  }
}

@media (max-width:768px),
(max-height:1024) {
  .zero-one-text {
    font-size: 14px !important;
  }

  .carousel-bg {
    margin-bottom: 0px !important;
  }

  .image_bg {

    height: 60vh;
  }

  .image_bg-1 {
    height: 70vh;
  }

  .image_bg-2 {
    height: 70vh;
  }
}

@media (max-width:575px) {
  th {
    padding-left: 31px !important;
  }

  td {
    padding-left: 31px !important;
  }
}

@media (max-width:420px) {
  .mountain-1 {
    font-size: 16px !important;
    margin-left: 30px !important;
  }

  .mountain-2 {
    font-size: 16px !important;
  }
}


@media (max-width:412px) {
  .zero-one-container {
    margin-top: 20px !important;
  }

  .f-img {
    width: 130px !important;
  }


  .c-img {
    height: 24%;
    width: 24%;
    padding-left: 5px;
  }

  .zero-one-text {
    font-size: 14px !important;
    line-height: 1.2;
  }

  .zero-two-text {
    font-size: 14px !important;
  }

  table {
    margin-left: 10px !important;
    margin-top: 35% !important;
    width: 300px !important;
    font-size: 15px !important;
  }

  th {
    padding-left: 15px !important;
  }

  td {
    padding-left: 15px !important;
  }

}

@media (max-width:360px) {
  .f-img {
    width: 100px !important;
  }

  .copyright {
    font-size: 9px !important;
  }

  table {
    width: 260px !important;
    font-size: 12px !important;
  }

  th {
    padding-left: 16px !important;
    font-size: 38px !important;
  }

  td {
    padding-left: 16px !important;
  }

}

@media (max-width:280px) {
  .zero-one-text {
    font-size: 12px !important;
  }

  .zero-two-text {
    font-size: 10px !important;
  }

  .zero-one-container {
    margin-top: 100px !important;
  }

  .c-img {
    height: 23%;
    width: 23%;
    padding-left: 5px;
  }


  .mountain-1 {
    font-size: 12px !important;
    margin-left: 15px !important;
  }

  .mountain-2 {
    font-size: 12px !important;
    margin-left: -30px !important;
  }

  .t-link {
    font-size: 10px !important;
  }

  .zero-one {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 110px;

  }

  .zero-one-t {
    margin-top: 50px !important;
    margin-left: -18px !important;
  }

  .zero-two-text {
    margin-left: 5px !important;
  }

  .zero-one-text {
    margin-left: 52px !important;
  }

  .mountain-1 {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }

  table {
    width: 240px !important;
    font-size: 12px !important;
  }

  th {
    padding-left: 18px !important;
    font-size: 30px !important;
  }

  td {
    padding-left: 18px !important;
  }
}